$public-sans-font-family: 'Public Sans', sans-serif;
$ibarra-real-nova-font-family: 'Ibarra Real Nova', serif;
$desktop-header-active-link-color: #5fb4a2;
$primary-button-background-color: #203a4c;
$modal-mobile-background-colour: #33323d;
$modal-mobile-font-colour: #ffffff;
$footer-background-colour: #33323d;
$desktop-left-right-margin: 165px;
$mobile-left-right-margin: 13px;
